* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4D04E;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    width: 384px;
    padding: 16px;
    background-color: white;
    border: solid 1px;
    border-radius: 16px;
}

.html-css-course {
    width: 100%;
}

.category {
    display: inline;
    background-color: #F4D04E;
}

.profile-picture {

}